<!DOCTYPE html>
<html lang="{{app.request.locale}}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title "Panterest" %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app')}}
        {% endblock %}
    </head>
    <body>
        {{include ('layout/partials/_navbar.html.twig')}}
    <main role="main" class="container">
    {% block body %}{% endblock %}
    </main>
        {{include ('layout/partials/_footer.html.twig')}}
    {% block javascripts %}
        {{ encore_entry_script_tags('app')}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
        $("document").ready(function(){
            setTimeout(function(){
            $("div.alert").remove();
            }, 2000 ); // 5 secs
        });
        </script>
    {% endblock %}
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
</html>
